<div class="row-fluid">
    <div id="menu-header">
        <div class="wrapper">
            {# Button to access the menu #}
            <a class='btn-default btn-primary' href="#overview">{{ 'label.general'|trans|desc('Vue général') }}</a>
            <a id="btn-galaxy" class='btn-default btn-primary' href="#galaxy">{{ 'label.galaxy'|trans|desc('Galaxy') }}</a>
            <a id="btn-building" class='btn-default btn-primary' href="#building">{{ 'label.building'|trans|desc('Building') }}</a>
            <a id="btn-research" class='btn-default btn-primary' href="#research">{{ 'label.research'|trans|desc('Research') }}</a>

            {# My Caroussel #}
            <div id="vue-general">
                <div id="galaxy">
                    <div id="building">
                        <div id="research">
                            <div class="sliderContainer">
                                {# Content of all pages of the caroussel #}
                                <div class="caroussel-content">
                                    <div class="caroussel-item">
                                        {% include 'CelarisGameBundle:Header:overview.html.twig' %}
                                    </div>

                                    <div id="map" class="caroussel-item">
                                    </div>

                                    <div id="building-content" class="caroussel-item">
                                    </div>

                                    <div id="research-content" class="caroussel-item">
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% include 'CelarisGameBundle:Header:script-menu-header.html.twig' %}
