<div class="row-fluid">
    <div id="menu-header">
        <div class="wrapper">
            {# Button to access the menu #}
            <a class='btn-default btn-primary' href="#vue-general">{{ 'label.general'|trans|desc('Vue général') }}</a>
            <a id="btn-galaxy" class='btn-default btn-primary' href="#galaxy">{{ 'label.galaxy'|trans|desc('Galaxy') }}</a>
            <a id="btn-building" class='btn-default btn-primary' href="#building">{{ 'label.building'|trans|desc('Building') }}</a>
            <a id="btn-research" class='btn-default btn-primary' href="#research">{{ 'label.research'|trans|desc('Research') }}</a>

            {# My Caroussel #}
            <div id="vue-general">
                <div id="galaxy">
                    <div id="building">
                        <div id="research">
                            <div class="sliderContainer">

                                {# Content of all pages of the caroussel #}
                                <div class="caroussel-content">
                                    <div class="caroussel-item">
                                        {% include 'CelarisGameBundle:Header:ninou.html.twig' %}
                                    </div>

                                    <div id="map" class="caroussel-item">
                                    </div>

                                    <div id="building-content" class="caroussel-item">
                                    </div>

                                    <div id="research-content" class="caroussel-item">
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var elementActive = document.URL.split('#')[1];
        var links = $('.wrapper').find('a');

        function initCaroussel() {
            $.each(links, function() {
                $(this).click(function() {
                    $(this).removeClass('active');
                });
            });

            $('.wrapper').find('a[href="#' + elementActive + '"]').addClass('active');
        };
        initCaroussel();

        function loadMap() {
            $.ajax({
                type: "GET",
                url: Routing.generate('menu_galaxy'),
                async: true,
                success: function(res) {
                    $('#map').html(res);
                }
            });
        };

        function loadBuilding() {
            $.ajax({
                type: "GET",
                url: Routing.generate('menu_building'),
                async: true,
                success: function(res) {
                    $('#building-content').html(res);
                }
            });
        };

        function loadResearch() {
            $.ajax({
                type: "GET",
                url: Routing.generate('menu_research'),
                async: true,
                success: function(res) {
                    $('#research-content').html(res);
                }
            });
        };

        if ($('#btn-galaxy').hasClass('active'))
            loadMap();

        if ($('#btn-building').hasClass('active'))
            loadBuilding();

        if ($('#btn-research').hasClass('active'))
            loadResearch();

        $('#btn-galaxy').click(function() {
            loadMap();
        });

        $('#btn-building').click(function() {
            loadBuilding();
        });

        $('#btn-research').click(function() {
            loadResearch();
        });
    });
</script>
                    