{% extends '::base.html.twig' %}

{% block content %}
    <br/>
    <div class='container-fluid'>
        <div class='row-fluid'>
            Hello !

            <div class='pull-right'>
                <form role="form" action="{{ path('fos_user_security_logout') }}" method="post">
                    <button class='btn-warning' type="submit">Déconnection</button>
                </form>
            </div>
        </div>

        {% include 'KyklosGameBundle:Header:menu-header.html.twig' %}
    </div>
{% endblock content %}